.section--history {
	padding: 0 160px 260px;
}

		width: 75%;
	.section--history .section__body {
		margin: 0 auto;
		padding-bottom: 90px;
	}

	.section--history .section__header {
	    width: 100%;
	    margin: 0;
	    float: left;
	    text-align: left;
	    transform: translateX(-90%);
	}

		.section--history .section__header .section__heading {
			transform: rotate(-90deg);
			transform-origin: right bottom;
			text-align: right;
		}

	.section--history .section__closing {
		text-align: center;
		margin: 0 auto;
	}