.section--approach,
.section--introduction {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.section--introduction {
	margin: 0 auto 142px;
	padding: 60px 0 40px 0;
	background: #151515;
	background: var(--brand-color-b);
	width: 90%;
	color: #fff;
	// transform: translateY(-60px);
}
	
	.section--introduction  .section__header {
		margin-bottom: 12px;
	}

	.section--introduction  .section__header  .section__heading {
		position: relative;	
		margin-bottom: 18px;
		font: 800 18px/30px var(--font-fam-strong);
	}

@media (min-width: 768px) {
	.section--introduction {
		width: 85%;
		margin: 0 auto calc(142px * 2);
		padding: 240px 0 192px 0;
		// transform: translateY(-80px);
	}

	.section--introduction  .section__header {
		width: 85%;
	}

	.section--introduction  .section__header  .section__heading {
		font: 800 60px/72px var(--font-fam-strong);
	}
}

.section--introduction:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 30px;
	background: #fff;
	background: var(--color-white);
	width: 1px; 
}

.section--introduction:after {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	height: 30px;
	background: #000;
	background: var(--color-black);
	width: 1px; 
}
@media (min-width: 768px) {
	.section--introduction:before,
	.section--introduction:after {
		height: 60px;
	}
}