.masthead {
	display: flex;
	height: calc(100vh - 60px);
	min-height: 500px;
	position: relative;
  align-items: center;
  justify-items: center;
	color: #000;
	color: var(--color-black);
}
@media (min-width: 1200px) {
	.masthead {
		height: calc(100vh - 80px);
	}
}

	.masthead__inner {
		position: relative;
		padding: 78px 30px 20px;
		z-index: 2;
	}
	@media (min-width: 1200px) {
		.masthead__inner { 
			padding: 20px 90px;
			grid-column: span 7;
			width: 100%;
		}
	}

		.masthead__title { 
			float: left;
			font: 800 72px/84px var(--font-fam-medium);
		}
		@media (min-width: 768px) {
			.masthead__title { 
				font: 800 150px/150px var(--font-fam-medium);
			}
		}

		.masthead__subtitle { 
			clear: left;
			margin-bottom: calc(var(--vr)*6);
			font: 400 16px/22px var(--font-fam-thin);
			padding-left: 5px;
		}
		@media (min-width: 768px) {
			.masthead__subtitle {
				font: 400 30px/42px var(--font-fam-thin);
				padding-left: 10px;
			}
		}


	.masthead__bg {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		overflow: hidden;
	}

		.masthead__bg img {
			min-height: 100%;
			min-width: 100%;
			max-width: auto;
			width: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		@supports (object-fit: cover) {
			.masthead__bg img {
				position: relative;
				width: 100%;
				height: 100%;
				min-height: 600px;
			    max-width: none;
				object-fit: cover;
			    transform: none;
			    top: auto;
			    left: auto;
				filter: grayscale(60%);
			}
		}

		.masthead__bg:after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			background: rgba(0, 0, 0, .25);
			object-fit: cover;
		}