.masthead {
	position: relative;
	height: calc(100vh);
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #003FA3;
}

.masthead__inner {
	padding: 0 20px;
}

@media (min-width: 768px) {
	.masthead__inner {
		width: 75%;
		padding: 0 40px;
	}
}

@media (min-width: 1200px) {
	.masthead__inner { 
		width: 60%;
	}
}

.masthead__title { 
	float: left;
	margin-bottom: calc(var(--vr)*4);
	font-size: 54px;
	line-height: 66px;
	font-family: "HelveticaNeue-Bold", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
@media (min-width: 768px) {
	.masthead__title { 
		font-size: 86px;
		line-height: 98px;
	}
}


.masthead__subtitle { 
	font-size: 18px;
	line-height: 24px;
	clear: left;
	font-family: Georgia; 
	margin-bottom: calc(var(--vr)*6);
}
@media (min-width: 768px) {
	.masthead__subtitle {
		font-size: 30px;
		line-height: 42px;
	}
}