.masthead {
	height: calc(100vh - 78px);
	position: relative;
	color: #003FA3;
    align-items: center;
}

.masthead__inner {
	padding: 20px;
}
@media (min-width: 768px) {
	.masthead__inner { 
		padding: 20px 60px;
	}
}

.masthead__title { 
	float: left;
	margin-bottom: calc(var(--vr)*4);
	font: 800 72px/66px var(--font-fam-medium);
}
@media (min-width: 768px) {
	.masthead__title { 
		font: 800 98px/104px var(--font-fam-medium);
	}
}


.masthead__subtitle { 
	clear: left;
	margin-bottom: calc(var(--vr)*6);
	font: 400 18px/24px var(--font-fam-b);
}
@media (min-width: 768px) {
	.masthead__subtitle {
		font: 400 30px/42px var(--font-fam-b);
	}
}