.masthead {
	display: flex;
	height: 100vh;
	min-height: 500px;
	margin-bottom: 118px;
	position: relative;
	color: #fff;
	color: var(--color-white);
    align-items: center;
}
@media (min-width: 768px) {
	.masthead { 
		margin-bottom: 196px;
	}
}


	.masthead__inner {
		position: relative;
		padding: 78px 20px 20px 20px;
		z-index: 2;
	}
	@media (min-width: 1200px) {
		.masthead__inner { 
			padding: 20px 60px;
			grid-column: span 7;
		}
	}

		.masthead__title { 
			float: left;
			margin-bottom: calc(var(--vr)*4);
			font: 800 72px/66px var(--font-fam-medium);
		}
		@media (min-width: 768px) {
			.masthead__title { 
				font: 800 98px/104px var(--font-fam-medium);
			}
		}

		.masthead__subtitle { 
			clear: left;
			margin-bottom: calc(var(--vr)*6);
			font: 400 18px/24px var(--font-fam-b);
		}
		@media (min-width: 768px) {
			.masthead__subtitle {
				font: 400 30px/42px var(--font-fam-b);
			}
		}


	.masthead__bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		overflow: hidden;
	}

		.masthead__bg img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-height: 100%;
			min-width: 100%;
			max-width: auto;
			width: auto;
			height: auto;
			filter: blur(6px) grayscale(100%);
		}
		@supports (object-fit: cover) {
			.masthead__bg img {
				position: relative;
				width: 100%;
				height: 100%;
				object-fit: cover;
				min-height: 0;
			    min-width: 0;
			    max-width: none;
			    transform: none;
			    top: auto;
			    left: auto;
			}
		}

		.masthead__bg:after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			background: rgba(2, 63, 163, 0.775);
			object-fit: cover;
		}