.navigation--social {
	padding: calc(var(--vr)*3) 20px;
	float: right;
	background: var(--color-white);
}

.navigation--social ul {
	text-align: center;
}

.navigation--social li {
	display: inline-block;
	padding: 0 10px;
}
@media (min-width: 768px) {
  	.navigation--social li {
		padding: 0 20px;
  	}
}

.navigation--social li a {
	padding: 0 6px calc(var(--vr)/2) 0;
	border-bottom: 1px solid currentColor;
	font-size: 12px;
	text-decoration: none;
	transition: color ease-in-out 250ms;
	color: var(--color-d);
}
@media (min-width: 768px) {
  	.navigation--social li a {
  		font-size: 16px;
  	}
}

.navigation--social li a:hover {
	color: var(--color-b);
}