.navigation--social {
	padding: calc(var(--vr)*3) 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.navigation--social ul {
	text-align: center;
}

.navigation--social li {
	display: inline-block;
	padding: 0 10px;
}
@media (min-width: 768px) {
  	.navigation--social li {
		padding: 0 20px;
  	}
}

.navigation--social li a {
	font-size: 12px;
	transition: color ease-in-out 250ms;
	color: var(--color-c);
}
@media (min-width: 768px) {
  	.navigation--social li a {
  		font-size: 18px;
  	}
}

.navigation--social li a:hover {
	color: var(--color-b);
}