.navigation--social {
	width: 70%;
	padding: 0 10px;
	float: right;
	background: var(--color-d);
}
@media (min-width: 768px) {
	.navigation--social {
		width: auto;
	}
}

.navigation--social ul {
	text-align: center;
}

.navigation--social li {
	display: block;
	float: left;
	width: 50%;
	padding: var(--vr) 0 calc(var(--vr)*2) 0;
}
@media (min-width: 768px) {
  	.navigation--social li {
  		width: auto;
		padding: calc(var(--vr)*2) 10px;
  	}
}

.navigation--social li a {
	padding: 0 6px calc(var(--vr)/2) 0;
	border-bottom: 1px solid currentColor;
	font-size: 12px;
	text-decoration: none;
	transition: color ease-in-out 250ms;
	color: var(--color-white);
}
@media (min-width: 768px) {
  	.navigation--social li a {
  		font-size: 16px;
  	}
}

.navigation--social li a:hover {
	color: var(--color-b);
}