:root {
	height: 100%;
	overflow-y: auto;
    --color-a: #dc6007;
    --color-b: #f74912;
    --color-c: #8e8c8c;
    --color-d: #003FA3;
    --color-white: #fff;
    --color-black: #000;

    --vr: 6px;

    --font-size-small: 14px; 
    --font-size-a: calc(var(--vr)*3); 
    --font-size-b: calc(var(--vr)*5); 
    --font-size-c: calc(var(--vr)*7); 
    --font-size-d: calc(var(--vr)*9); 

    --font-fam-thin: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    --font-fam-light: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    --font-fam-medium: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    --font-fam-strong: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    --font-fam-b: Georgia, Times, "Times New Roman", serif;
}	


body {
	font-family: var(--font-fam-medium);
}

.site-wrapper {
	display: grid;
	grid-template-columns: 100vw;
    grid-template-rows: auto calc(100vh - 118px) auto;
    grid-template-areas:
      "header"   
      "content"
      "footer";
     align-items: center;
}

.site-main {
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
	max-width: 100%;
	overflow-x: hidden;
}

.navigation__title {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.navigation__title.focusable:active,
.navigation__title.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

a {
	cursor: pointer;
}

.btn {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid;
}

.btn--style-a {
	color: var(--color-d);
	border-color: currentColor;
}

.btn--style-b {
	padding: 0 0 var(--vr) 0;
	font-size: var(--font-size-small);
	color: var(--color-d);
	border-color: currentColor;
	font-family: var(--font-fam-light);
}

@media (min-width: 768px) {
	.btn--style-b {
		font-size: var(--font-size-a);
	}
}