.site-footer {
	display: flex;
	padding: calc(6px * 3) 30px;
	position: relative;
	background:  rgb(230, 83, 46);
	align-items: center;
}


.copyright {
	text-align: center;
	color: #fff;
	color: var(--color-white);
}


@media (min-width: 768px) {
	.copyright { 
		text-align: left;
		font-family: var(--font-fam-thin);
	}
}

.logo--small {
	width: 30px;
}