.site-footer {
	display: flex;
	padding: 0 20px 30px;
	position: relative;
	align-items: center;
	background: #fff;
	text-align: center;
}
@media (min-width: 768px) {
	.site-footer {
		padding: 0 20px 90px;
	}
}

		.site-footer .section__header {
			width: 100%;
			margin-bottom: 18px;
		}


.copyright {
	text-align: center;
	color: #000;
	color: var(--color-brand);
}


@media (min-width: 768px) {
	.copyright { 
		font-size: 18px;
		font-family: var(--font-fam-thin);
	}
}
