.grid {
	display: block;
	width: 100%;
}

.grid__item {
	display: block;
	float: left;
	width: 100%;
}

.one-third {
	width: 33.333%
}

.one-half {
	width: 50%;
}

.two-thirds {
	width: 66.667%;
}

.one-quarter {
	width: 25%;
}

.three-quarters {
	width: 75%;
}

@media (min-width: 600px) {
	.phab--one-third {
		width: 33.333%
	}

	.phab--one-half {
		width: 50%;
	}

	.phab--two-thirds {
		width: 66.667%;
	}

	.phab--one-quarter {
		width: 25%;
	}

	.phab--three-quarters {
		width: 75%;
	}

}

@media (min-width: 768px) {
	.tab--one-third {
		width: 33.333%
	}

	.tab--one-half {
		width: 50%;
	}

	.tab--two-thirds {
		width: 66.667%;
	}

	.tab--one-quarter {
		width: 25%;
	}

	.tab--three-quarters {
		width: 75%;
	}
}

@media (min-width: 1024px) {
	.desk--one-third {
		width: 33.333%
	}

	.desk--one-half {
		width: 50%;
	}

	.desk--two-thirds {
		width: 66.667%;
	}

	.desk--one-quarter {
		width: 25%;
	}

	.desk--three-quarters {
		width: 75%;
	}
}

@supports (display: grid) {
	#root .grid {
		display: grid;
	  	grid-template-columns: repeat(var(--grid-col-number), [col] 1fr);

	  	--grid-col-number: 12;
	}

	.grid__item {	
		float: none;
		grid-column: span 12;
		width: auto;
	}

	.one-third {
		grid-column: span 4;
	}

	.one-half {
		grid-column: span 6;
	}

	.two-thirds {
		grid-column: span 8;
	}

	.one-quarter {
		grid-column: span 3;
	}

	.three-quarters {
		grid-column: span 9;
	}

	@media (min-width: 600px) {
		.phab--one-third {
			grid-column: span 4;
		}

		.phab--two-thirds {
			grid-column: span 8;
		}

		.phab--one-half {
			grid-column: span 6;
		}

		.phab--one-quarter {
			grid-column: span 3;
		}

		.phab--three-quarters {
			grid-column: span 9;
		}
	}

	@media (min-width: 768px) {
		.tab--one-third {
			grid-column: span 4;
		}

		.tab--two-thirds {
			grid-column: span 8;
		}

		.tab--one-half {
			grid-column: span 6;
		}

		.tab--one-quarter {
			grid-column: span 3;
		}

		.tab--three-quarters {
			grid-column: span 9;
		}
	}

	@media (min-width: 1024px) {
		.desk--one-third {
			grid-column: span 4;
		}

		.desk--two-thirds {
			grid-column: span 8;
		}

		.desk--one-half {
			grid-column: span 6;
		}

		.desk--one-quarter {
			grid-column: span 3;
		}

		.desk--three-quarters {
			grid-column: span 9;
		}
	}
} 
