.site-header {
	position: fixed;
	clip: rect(auto,auto,auto,auto);
	top: 0;
	left: 0;
	max-width: 100%;
	padding: calc(6px * 4) 20px;
	z-index: 2;
	height: 120px;
}
@media (min-width: 1200px) {
	.site-header {
		padding: calc(6px * 4) 60px;
	}
}

.site-header__title {
	font-size: var(--font-size-d);
}

.site-logo {
	position: fixed;
	top: 18px;
	left: 10px;
	z-index: 1;
	color: #fff;
	color: var(--color-white);
	float: left;
	text-decoration: none;
	font: 200 18px/18px var(--font-fam-thin);
	border: none;
}
@media (min-width: 768px) {
	.site-logo {
		width: 50px;
		top: 30px;
		left: 20px;
		font: 200 30px/30px var(--font-fam-thin);
	}
}

.site-logo a {
	border: none;
}

.site-logo img {
	width: 100%;
}

.site-logo:hover,
.site-logo:visited {
	color: #fff;
}

.site-logo--footer {
	display: inline-block;
	width: 25px;
}