.section--history {
	padding: 0 160px 260px;
}

.section--history .section__body {
	margin: 0 auto;
	padding-bottom: 90px;
	width: 75%;
}


.section--history .section__header {
    transform: translateX(-90%);
    float: left;
    margin: 0;
    text-align: left;
    width: 100%;
}

.section--history .section__header .section__heading {
	transform: rotate(-90deg);
	transform-origin: right bottom;
	text-align: right;
}

.section--history .section__closing {
	text-align: center;
	margin: 0 auto;
}