.section--skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

	.list-block {
		text-align: center;
		padding: 0 20px;
		margin-bottom: 24px;
	}
	@media (min-width: 768px) {
		.list-block {
			text-align: left;
			min-width: 200px;
		}
	}
