.navigation--social ul {
	display: flex;
	text-align: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.navigation--social li {
	display: block;
	width: 50%;
	padding: var(--vr) 0 calc(var(--vr)*2) 0;
}
@media (min-width: 768px) {
  	.navigation--social li {
  		width: auto;
		padding: calc(var(--vr)*2) 10px;
  	}
}

.navigation--social li a {
	padding: 0 6px calc(var(--vr)/2) 0;
	border-bottom: 1px solid currentColor;
	font-size: 12px;
	text-decoration: none;
	transition: color ease-in-out 250ms;
	color: #fff;
	color: var(--color-white);
}
@media (min-width: 768px) {
  	.navigation--social li a {
  		font-size: 16px;
  	}
}

.navigation--social li a:hover {
	color: #fff;
}