.site-footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.copyright {
	padding-right: 20px;
	color: var(--color-white);
}