.site-footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.copyright {
	width: 30%;
	text-align: center;
	padding: 10px;
	color: var(--color-white);
}

@media (min-width: 768px) {
	.copyright {
		width: auto;
	}
}