.site-header {
	position: absolute;
	left: 40px;
	top: calc(var(--vr)*4);
	width: 100%;
}

.site-header__title {
	font-size: var(--font-size-d);
}



.site-logo {
	font-family: "HelveticaNeue", Helvetica;
	letter-spacing: 1px;
	font-size: var(--font-size-c);
	color: var(--color-b);
	float: left;
	text-decoration: none;
}

@media (min-width: 768px) {
	.site-logo {
		font-size: var(--font-size-d);
	}
}


