.site-header {
	max-width: 100%;
	padding: calc(var(--vr)*4) 20px;
	z-index: 1;
}
@media (min-width: 768px) {
	.site-header {
		padding: calc(var(--vr)*4) 60px;
	}
}

.site-header__title {
	font-size: var(--font-size-d);
}


.site-logo {
	position: relative;
	z-index: 1;
	letter-spacing: 1px;
	color: var(--color-d);
	float: left;
	text-decoration: none;
	font: 200 var(--font-size-b)/var(--font-size-b) var(--font-fam-light);
}


